<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Cover">
<meta name="format-detection" content="telephone=no">
<title>Cover - Dashboard UI kit for Modern Web Application</title>
<meta name="description" content="Dashboard UI Kit for Modern Web Application">
<meta name="keywords" content="admin, dashboard, backend, template, responsive, ui-kit, web-app, modern, flexbox, vuejs, sass">
<meta name="author" content="20Theme">
<link rel="stylesheet" href="../../dist/css/cover.css">
<link rel="stylesheet" href="../../dist/css/icomoon.css">
<link href="../assets/css/github-gist.css">
<link rel="apple-touch-icon" href="../assets/images/app-icon.png">
<link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon" />
<script src="../../dist/vendor/vue/vue.js"></script>
<script src="../../dist/vendor/holderjs/holder.min.js"></script>
<script src="../../dist/cover.js"></script>

  
</head>
<body>
<div id="app" class="l-app" v-cloak>
    <sidebar>
    <div class="logo u-bg-primary" slot="start">
        <img src="../../dist/images/logo-white.svg">
    </div>
    <ul class="c-menu c-menu--dark" v-menu slot="content">
        <li class="c-menu__category">GENERAL</li>
        <li class="c-menu__item">
            <a href="../" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-lab"></i>
                </div>
                <div class="c-menu__text">Dashboard</div>
                <div class="c-menu__after"></div>
            </a>
        </li>
        <li class="c-menu__item has-sub">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-display"></i>
                </div>
                <div class="c-menu__text">Layouts</div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../layouts/grid.html" class="c-menu__link">
                        <div class="c-menu__text">Grid</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../layouts/area.html" class="c-menu__link">
                        <div class="c-menu__text">Area</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../layouts/level.html" class="c-menu__link">
                        <div class="c-menu__text">Level</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../layouts/templates.html" class="c-menu__link">
                        <div class="c-menu__text">Templates</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="c-menu__item has-sub">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-files-empty"></i>
                </div>
                <div class="c-menu__text">Pages</div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../pages/message.html" class="c-menu__link">
                        <div class="c-menu__text">Message</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../pages/401.html" class="c-menu__link">
                        <div class="c-menu__text">401</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../pages/404.html" class="c-menu__link">
                        <div class="c-menu__text">404</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../pages/500.html" class="c-menu__link">
                        <div class="c-menu__text">500</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../pages/login.html" class="c-menu__link">
                        <div class="c-menu__text">Login</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../pages/register.html" class="c-menu__link">
                        <div class="c-menu__text">Register</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../pages/forgot.html" class="c-menu__link">
                        <div class="c-menu__text">Forgot Password</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../pages/reset.html" class="c-menu__link">
                        <div class="c-menu__text">Reset Password</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="c-menu__divider"></li>
        <li class="c-menu__category">APPEARANCE</li>
        <li class="c-menu__item has-sub">
            <a href="#" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-design"></i>
                </div>
                <div class="c-menu__text">Elements</div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../elements/buttons.html" class="c-menu__link">
                        <div class="c-menu__text">Buttons</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../elements/badges.html" class="c-menu__link">
                        <div class="c-menu__text">Badges</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../elements/hint.html" class="c-menu__link">
                        <div class="c-menu__text">Hint</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../elements/progress.html" class="c-menu__link">
                        <div class="c-menu__text">Progress</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../elements/media.html" class="c-menu__link">
                        <div class="c-menu__text">Media</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../elements/dividers.html" class="c-menu__link">
                        <div class="c-menu__text">Dividers</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../elements/meta.html" class="c-menu__link">
                        <div class="c-menu__text">Meta</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../elements/icons.html" class="c-menu__link">
                        <div class="c-menu__text">Icons</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="c-menu__item has-sub">
            <a href="#" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-quill2"></i>
                </div>
                <div class="c-menu__text">Forms</div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../form/elements.html" class="c-menu__link">
                        <div class="c-menu__text">Elements</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../form/layouts.html" class="c-menu__link">
                        <div class="c-menu__text">Layouts</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../form/validation.html" class="c-menu__link">
                        <div class="c-menu__text">Validation</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../form/input-number.html" class="c-menu__link">
                        <div class="c-menu__text">InputNumber</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../form/multiselect.html" class="c-menu__link">
                        <div class="c-menu__text">Multiselect</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../form/datepicker.html" class="c-menu__link">
                        <div class="c-menu__text">DatePicker</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../form/slider.html" class="c-menu__link">
                        <div class="c-menu__text">Slider</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../form/uploaders.html" class="c-menu__link">
                        <div class="c-menu__text">Uploaders</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../form/quil.html" class="c-menu__link">
                        <div class="c-menu__text">Quill Editor</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="c-menu__item has-sub">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-list"></i>
                </div>
                <div class="c-menu__text">Navigation</div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../components/navs.html" class="c-menu__link">
                        <div class="c-menu__text">Navs</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/navbar.html" class="c-menu__link">
                        <div class="c-menu__text">Navbar</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/toolbar.html" class="c-menu__link">
                        <div class="c-menu__text">Toolbar</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/menu.html" class="c-menu__link">
                        <div class="c-menu__text">Menu</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/breadcrumb.html" class="c-menu__link">
                        <div class="c-menu__text">Breadcrumb</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/steps.html" class="c-menu__link">
                        <div class="c-menu__text">Steps</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/pagination.html" class="c-menu__link">
                        <div class="c-menu__text">Pagination</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/tabs.html" class="c-menu__link">
                        <div class="c-menu__text">Tabs</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="c-menu__item has-sub">
            <a href="#" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-rocket"></i>
                </div>
                <div class="c-menu__text">Advanced</div>
                <div class="c-menu__after">
                </div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../components/panels.html" class="c-menu__link">
                        <div class="c-menu__text">Panels</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/notes.html" class="c-menu__link">
                        <div class="c-menu__text">Notes</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/boxes.html" class="c-menu__link">
                        <div class="c-menu__text">Boxes</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/alerts.html" class="c-menu__link">
                        <div class="c-menu__text">Alerts</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/cards.html" class="c-menu__link">
                        <div class="c-menu__text">Cards</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/cells.html" class="c-menu__link">
                        <div class="c-menu__text">Cells</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/list.html" class="c-menu__link">
                        <div class="c-menu__text">List</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/stream.html" class="c-menu__link">
                        <div class="c-menu__text">Stream</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/circle-chart.html" class="c-menu__link">
                        <div class="c-menu__text">Circle Chart</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/drops.html" class="c-menu__link">
                        <div class="c-menu__text">Drops</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/modals.html" class="c-menu__link">
                        <div class="c-menu__text">Modals</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/alertify.html" class="c-menu__link">
                        <div class="c-menu__text">Alertify</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/notify.html" class="c-menu__link">
                        <div class="c-menu__text">Notify</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="c-menu__item has-sub">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-table2"></i>
                </div>
                <div class="c-menu__text">Tables</div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../tables/table.html" class="c-menu__link">
                        <div class="c-menu__text">Basic Table</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../tables/table-data.html" class="c-menu__link">
                        <div class="c-menu__text">Data Table</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="c-menu__item">
            <a href="../charts/index.html" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-pie-chart2"></i>
                </div>
                <div class="c-menu__text">Chart</div>
            </a>
        </li>
        <li class="c-menu__item has-sub">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-truck"></i>
                </div>
                <div class="c-menu__text">Widgets</div>
                <div class="c-menu__after">
                    <span class="badge badge--info">35+</span>
                </div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../widgets/statistics.html" class="c-menu__link">
                        <div class="c-menu__text">Statistic Widgets</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../widgets/data.html" class="c-menu__link">
                        <div class="c-menu__text">Data Widgets</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../widgets/charts.html" class="c-menu__link">
                        <div class="c-menu__text">Chart Widgets</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="c-menu__item">
            <a href="../utilities/index.html" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-wrench"></i>
                </div>
                <div class="c-menu__text">Utilities</div>
            </a>
        </li>
        <li class="c-menu__divider"></li>
        <li class="c-menu__item has-sub">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-office"></i>
                </div>
                <div class="c-menu__text">Apps</div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../apps/cms/index.html" class="c-menu__link">
                        <div class="c-menu__text">CMS</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../apps/ecommerce/index.html" class="c-menu__link">
                        <div class="c-menu__text">eCommerce</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../apps/mailbox/index.html" class="c-menu__link">
                        <div class="c-menu__text">Mailbox</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../apps/documents/index.html" class="c-menu__link">
                        <div class="c-menu__text">Documents</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../apps/users/index.html" class="c-menu__link">
                        <div class="c-menu__text">Users</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../apps/library/index.html" class="c-menu__link">
                        <div class="c-menu__text">Library</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../apps/settings/index.html" class="c-menu__link">
                        <div class="c-menu__text">Setting</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="c-menu__divider"></li>
        <li class="c-menu__category">v1.0.0</li>
    </ul>
</sidebar>

    <div class="l-app__content">
        <header class="l-app__topbar">
    <nav class="c-navbar c-navbar--light">
        <div class="c-navbar__left">
            <a role="button" class="c-navbar__item u-hiddenUp@md" v-toggle:sidebar>
                <i class="i-menu i-menu--light"></i>
            </a>
            <drop class="c-navbar__item">
                <a role="button" slot="trigger">
                    New<i class="i-caret i-caret--light u-ml-5"></i>
                </a>
                <drop-content slot="content">
                    <ul class="c-nav c-nav--menus">
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Article</a>
                        </li>
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Mail</a>
                        </li>
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Event</a>
                        </li>
                        <drop tag="li" class="c-nav__item">
                            <a href="#" class="c-nav__link" slot="trigger">Task</a>
                            <drop-content placement="right-start" slot="content">
                                <ul class="c-nav c-nav--menus">
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">Today</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">Latter</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">Inbox</a>
                                    </li>
                                </ul>
                            </drop-content/>
                        </drop>
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Contact</a>
                        </li>
                    </ul>
                </drop-content>
            </drop>
        </div>
        <!-- END .c-navbar__left -->
        <div class="c-navbar__right">
            <div class="c-navbar__item u-hiddenDown@md">
                <form action="/" class="c-navbar__form">
                    <div class="form-control has-iconRight">
                          <i class="icon-search form-iconRight u-mr-5"></i>
                          <input type="text" class="form-input form-input--rounded">
                    </div>
                </form>
            </div>
            <!-- END .c-navbar__item -->
            <a class="c-navbar__item">
                <i class="icon-bell2"></i>
            </a>
            <!-- END .c-nav__item -->
            <a class="c-navbar__item">
                <i class="icon-envelop3"></i>
            </a>
            <!-- END .c-nav__item -->
            <drop class="c-navbar__item">
                <a role="button" class="c-account" slot="trigger">
                    <div class="c-account__media">
                        <img src="../assets/images/avatar.jpg" class="avatar">
                    </div>
                    <div class="c-account__after">
                        <i class="i-caret i-caret--light"></i>
                    </div>
                </a>
                <drop-content placement="bottom-end" slot="content">
                    <ul class="c-nav c-nav--menus">
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Profile</a>
                        </li>
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Inbox</a>
                        </li>
                        <li class="c-nav__divider"></li>
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Log out</a>
                        </li>
                    </ul>
                </drop-content>
            </drop>
        </div>
    </nav>
    <!-- END .c-navbar -->
</header>
<!-- END .l-app__topbar -->

        
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <div class="l-row">
            <div class="l-col-6@lg l-col-3@xl">
                <article class="c-card">
                    <header class="c-card__header">
                        <div class="c-card__leading">
                            <h4 class="c-card__title">Google I/O 2017</h4>
                            <span class="meta">Software and hardware</span>
                        </div>
                        <div class="c-card__control">
                            <time class="meta">May 17-19, 2017</time>
                        </div>
                    </header>
                    <!-- END .c-card__header -->
                    <div class="c-card__shot" style="background-image: url(//c1.staticflickr.com/6/5596/14709465907_33b8612bef_b.jpg)">
                        <a href="#" class="c-card__over">
                            Google I/O is an annual developer festival held at the outdoor Shoreline Amphitheatre.
                        </a>
                    </div>
                    <!-- END .c-card__shot -->
                    <div class="c-card__content">
                        I/O Extended events bring local developer communities together to experience the I/O keynote and sessions with one another in real-time, around the globe. They may also offer unique activities such as hackathons, codelabs, and demos.
                    </div>
                    <!-- END .c-card__content -->
                    <footer class="c-card__footer u-textRight">
                        <a href="#" class="btn btn--info btn--smart">LEARN MORE</a>
                    </footer>
                    <!-- END .c-card__footer -->
                </article>
                <!-- END .c-card -->
            </div>
            <!-- END .l-col-3@xl -->
            <div class="l-col-6@lg l-col-2@xl">
                <article class="c-card c-card--ghost">
                    <header class="c-card__header">
                        <div class="c-card__leading">
                            <h6 class="c-card__title">Google I/O 2017</h6>
                            <span class="meta">Software and hardware</span>
                        </div>
                        <div class="c-card__control">
                            <time class="meta">May 17-19, 2017</time>
                        </div>
                    </header>
                    <!-- END .c-card__header -->
                    <div class="c-card__shot" style="background-image: url(//c1.staticflickr.com/6/5596/14709465907_33b8612bef_b.jpg)">
                        <a href="#" class="c-card__over">
                            Google I/O is an annual developer festival held at the outdoor Shoreline Amphitheatre.
                        </a>
                    </div>
                    <!-- END .c-card__shot -->
                    <div class="c-card__content">
                        I/O Extended events bring local developer communities together to experience the I/O keynote.
                    </div>
                    <!-- END .c-card__content -->
                    <footer class="c-card__footer u-textRight">
                        <a href="#" class="btn btn--info btn--smart btn--sm">LEARN MORE</a>
                    </footer>
                    <!-- END .c-card__footer -->
                </article>
                <!-- END .c-card -->
            </div>
            <!-- END .l-col-2@xl -->
            <div class="l-col-7@xl">
                <section class="c-panel">
                    <header class="c-panel__header">
                        <h1 class="c-panel__title">Card</h1>
                    </header>
                    <div class="c-panel__body">
                        <ul>
                            <li>
                                <code>.c-card</code>
                                <ul>
                                    <li>
                                        <code>.c-card__header</code>
                                        <ul>
                                            <li>
                                                <code>.c-card__leading</code>
                                                <ul>
                                                    <li><code>.c-card__title</code></li>
                                                </ul>
                                            </li>
                                            <li><code>.c-card__control</code></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <code>.c-card__shot</code>
                                        <ul>
                                            <li><code>.c-card__over</code></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <code>.c-card__content</code>
                                    </li>
                                    <li>
                                        <code>.c-card__footer</code>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <p>
                            By adding the <code>.c-card--ghost</code> modifier class to create ghost card.
                        </p>
                        <pre><code class="lang-html"><span class="hljs-tag">&lt;<span class="hljs-name">article</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-card"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">header</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-card__header"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-card__leading"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">h6</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-card__title"</span>&gt;</span>Google I/O 2017<span class="hljs-tag">&lt;/<span class="hljs-name">h6</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"meta"</span>&gt;</span>Software and hardware<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-card__control"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">time</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"meta"</span>&gt;</span>May 17-19, 2017<span class="hljs-tag">&lt;/<span class="hljs-name">time</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">header</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- END .c-card__header --&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-card__shot"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"background-image: url(...)"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-card__over"</span>&gt;</span>
            Google I/O is an annual developer festival...
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- END .c-card__shot --&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-card__content"</span>&gt;</span>
        I/O Extended events bring local developer communities together to experience the I/O keynote.
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- END .c-card__content --&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">footer</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-card__footer u-textRight"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn--info btn--smart btn--sm"</span>&gt;</span>LEARN MORE<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">footer</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- END .c-card__footer --&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">article</span>&gt;</span>
<span class="hljs-comment">&lt;!-- END .c-card --&gt;</span>
</code></pre>

                    </div>
                </section>
            </div>
            <!-- END .l-col-7@xl -->
        </div>
        <!-- END .l-row -->
        <div class="l-row">
            <div class="l-col-12 l-col-6@sm l-col-6@md l-col-4@lg l-col-3@xl">
                <article class="c-card">
                    <div class="c-card__shot" style="background-image: url(https://source.unsplash.com/random/300x400?1)">
                        <a role="button" class="c-card__over">
                            Consectetur adipisicing elit. Tempore porro, incidunt, doloremque aspernatur est quibusdam.
                        </a>
                    </div>
                    <div class="c-card__header">
                        <div class="c-card__leading">
                            <p class="c-card__title">Lorem ipsum dolor sit amet</p>
                            <div class="metaList">
                                <span class="meta">146 Likes</span>
                                <span class="meta">332 Downloads</span>
                            </div>
                        </div>
                        <div class="c-card__control">
                            <drop>
                                <a role="button" class="u-color-muted" slot="trigger"><i class="icon-cog"></i></a>
                                <drop-content placement="bottom-end" slot="content">
                                    <ul class="c-nav c-nav--menus">
                                        <li class="c-nav__item">
                                            <a href="#" class="c-nav__link">Edit</a>
                                        </li>
                                        <li class="c-nav__item">
                                            <a href="#" class="c-nav__link">View</a>
                                        </li>
                                        <li class="c-nav__item">
                                            <a href="#" class="c-nav__link">Copy Link</a>
                                        </li>
                                        <li class="c-nav__divider"></li>
                                        <li class="c-nav__item">
                                            <a href="#" class="c-nav__link u-color-danger">Delete</a>
                                        </li>
                                    </ul>
                                </drop-content>
                            </drop>
                        </div>
                    </div>
                </article>
            </div>
            <!-- END .l-col-3@xl -->
            <div class="l-col-12 l-col-6@sm l-col-6@md l-col-4@lg l-col-3@xl">
                <article class="c-card">
                    <div class="c-card__shot" style="background-image: url(https://source.unsplash.com/random/300x400?2)">
                        <div class="c-card__over u-flexCenter u-textCenter">
                            <h5>Lorem ipsum dolor sit amet.</h5>
                            <div class="btnGroup">
                                <a href="#" class="btn btn--primary btn--outline">View</a>
                                <a href="#" class="btn btn--primary btn--outline">Copy</a>
                                <a href="#" class="btn btn--primary btn--outline">Delete</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="c-card">
                    <div class="c-shot c-shot--16x9 u-mb-5" style="background-image: url(https://source.unsplash.com/random/300x400?10)">
                        <a href="#" class="c-shot__content u-flexCenter">
                            <i class="icon-3x icon-play2 u-color-white"></i>
                        </a>
                    </div>
                    <header class="c-card__content">
                        <h5 class="c-card__title">Making the Facebook Social Graph Semantic</h5>
                        <span class="meta">23:50</span>
                    </header>
                </article>
            </div>
            <!-- END .l-col-3@xl -->
            <div class="l-col-12 l-col-6@sm l-col-6@md l-col-4@lg l-col-3@xl">
                <article class="c-card">
                    <div class="c-card__shot" style="background-image: url(https://source.unsplash.com/random/300x400?3)">
                        <div class="c-card__over u-flexCenter">
                            <a href="#" class="btn btn--primary btn--outline">Buy it anyway</a>
                        </div>
                    </div>
                    <header class="c-card__header">
                        <div class="c-card__leading">
                            <h4 class="c-card__title">iPhone 8</h4>
                            <span class="meta">Nothing new, except the screen size</span>
                        </div>
                    </header>
                    <div class="c-card__content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatum illum veniam cum iste, laboriosam.
                        </p>
                    </div>
                </article>
            </div>
            <!-- END .l-col-3@lg -->
            <div class="l-col-12 l-col-6@sm l-col-6@md l-col-4@lg l-col-3@xl">
                <article class="c-card">
                    <header class="c-card__header">
                        <div class="c-card__leading">
                            <h4 class="c-card__title">F8 2017</h4>
                            <span class="meta">Facebook Developer Conference</span>
                        </div>
                        <div class="c-card__control">
                            <button class="btn btn--primary btn--outline">Buy Ticket</button>
                        </div>
                    </header>
                    <div class="c-card__shot" style="background-image: url(https://source.unsplash.com/random/300x400?4)"></div>
                    <div class="c-card__content">
                        <p>
                            Join us for two days of interactive demos, announcements, and best practices that will keep you looking ahead. Attend sessions and interact with Facebook products and experts. Whether you’re with us in San Jose or tuning in from around the world, there’s an F8 for everyone.
                        </p>
                    </div>
                </article>
            </div>
            <!-- END .l-col-3@lg -->
        </div>
        <!-- END .l-row -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->

    </div>
</div>
<!-- END #app -->


<script src="../assets/js/app.js"></script>

</body>
</html>
