<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Cover">
<meta name="format-detection" content="telephone=no">
<title>Cover - Dashboard UI kit for Modern Web Application</title>
<meta name="description" content="Dashboard UI Kit for Modern Web Application">
<meta name="keywords" content="admin, dashboard, backend, template, responsive, ui-kit, web-app, modern, flexbox, vuejs, sass">
<meta name="author" content="20Theme">
<link rel="stylesheet" href="../../dist/css/cover.css">
<link rel="stylesheet" href="../../dist/css/icomoon.css">
<link href="../assets/css/github-gist.css">
<link rel="apple-touch-icon" href="../assets/images/app-icon.png">
<link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon" />
<script src="../../dist/vendor/vue/vue.js"></script>
<script src="../../dist/vendor/holderjs/holder.min.js"></script>
<script src="../../dist/cover.js"></script>

  
</head>
<body>
<div id="app" class="l-app" v-cloak>
    <sidebar>
    <div class="logo u-bg-primary" slot="start">
        <img src="../../dist/images/logo-white.svg">
    </div>
    <ul class="c-menu c-menu--dark" v-menu slot="content">
        <li class="c-menu__category">GENERAL</li>
        <li class="c-menu__item">
            <a href="../" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-lab"></i>
                </div>
                <div class="c-menu__text">Dashboard</div>
                <div class="c-menu__after"></div>
            </a>
        </li>
        <li class="c-menu__item has-sub">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-display"></i>
                </div>
                <div class="c-menu__text">Layouts</div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../layouts/grid.html" class="c-menu__link">
                        <div class="c-menu__text">Grid</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../layouts/area.html" class="c-menu__link">
                        <div class="c-menu__text">Area</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../layouts/level.html" class="c-menu__link">
                        <div class="c-menu__text">Level</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../layouts/templates.html" class="c-menu__link">
                        <div class="c-menu__text">Templates</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="c-menu__item has-sub">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-files-empty"></i>
                </div>
                <div class="c-menu__text">Pages</div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../pages/message.html" class="c-menu__link">
                        <div class="c-menu__text">Message</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../pages/401.html" class="c-menu__link">
                        <div class="c-menu__text">401</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../pages/404.html" class="c-menu__link">
                        <div class="c-menu__text">404</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../pages/500.html" class="c-menu__link">
                        <div class="c-menu__text">500</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../pages/login.html" class="c-menu__link">
                        <div class="c-menu__text">Login</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../pages/register.html" class="c-menu__link">
                        <div class="c-menu__text">Register</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../pages/forgot.html" class="c-menu__link">
                        <div class="c-menu__text">Forgot Password</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../pages/reset.html" class="c-menu__link">
                        <div class="c-menu__text">Reset Password</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="c-menu__divider"></li>
        <li class="c-menu__category">APPEARANCE</li>
        <li class="c-menu__item has-sub">
            <a href="#" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-design"></i>
                </div>
                <div class="c-menu__text">Elements</div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../elements/buttons.html" class="c-menu__link">
                        <div class="c-menu__text">Buttons</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../elements/badges.html" class="c-menu__link">
                        <div class="c-menu__text">Badges</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../elements/hint.html" class="c-menu__link">
                        <div class="c-menu__text">Hint</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../elements/progress.html" class="c-menu__link">
                        <div class="c-menu__text">Progress</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../elements/media.html" class="c-menu__link">
                        <div class="c-menu__text">Media</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../elements/dividers.html" class="c-menu__link">
                        <div class="c-menu__text">Dividers</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../elements/meta.html" class="c-menu__link">
                        <div class="c-menu__text">Meta</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../elements/icons.html" class="c-menu__link">
                        <div class="c-menu__text">Icons</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="c-menu__item has-sub">
            <a href="#" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-quill2"></i>
                </div>
                <div class="c-menu__text">Forms</div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../form/elements.html" class="c-menu__link">
                        <div class="c-menu__text">Elements</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../form/layouts.html" class="c-menu__link">
                        <div class="c-menu__text">Layouts</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../form/validation.html" class="c-menu__link">
                        <div class="c-menu__text">Validation</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../form/input-number.html" class="c-menu__link">
                        <div class="c-menu__text">InputNumber</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../form/multiselect.html" class="c-menu__link">
                        <div class="c-menu__text">Multiselect</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../form/datepicker.html" class="c-menu__link">
                        <div class="c-menu__text">DatePicker</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../form/slider.html" class="c-menu__link">
                        <div class="c-menu__text">Slider</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../form/uploaders.html" class="c-menu__link">
                        <div class="c-menu__text">Uploaders</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../form/quil.html" class="c-menu__link">
                        <div class="c-menu__text">Quill Editor</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="c-menu__item has-sub">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-list"></i>
                </div>
                <div class="c-menu__text">Navigation</div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../components/navs.html" class="c-menu__link">
                        <div class="c-menu__text">Navs</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/navbar.html" class="c-menu__link">
                        <div class="c-menu__text">Navbar</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/toolbar.html" class="c-menu__link">
                        <div class="c-menu__text">Toolbar</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/menu.html" class="c-menu__link">
                        <div class="c-menu__text">Menu</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/breadcrumb.html" class="c-menu__link">
                        <div class="c-menu__text">Breadcrumb</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/steps.html" class="c-menu__link">
                        <div class="c-menu__text">Steps</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/pagination.html" class="c-menu__link">
                        <div class="c-menu__text">Pagination</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/tabs.html" class="c-menu__link">
                        <div class="c-menu__text">Tabs</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="c-menu__item has-sub">
            <a href="#" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-rocket"></i>
                </div>
                <div class="c-menu__text">Advanced</div>
                <div class="c-menu__after">
                </div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../components/panels.html" class="c-menu__link">
                        <div class="c-menu__text">Panels</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/notes.html" class="c-menu__link">
                        <div class="c-menu__text">Notes</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/boxes.html" class="c-menu__link">
                        <div class="c-menu__text">Boxes</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/alerts.html" class="c-menu__link">
                        <div class="c-menu__text">Alerts</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/cards.html" class="c-menu__link">
                        <div class="c-menu__text">Cards</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/cells.html" class="c-menu__link">
                        <div class="c-menu__text">Cells</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/list.html" class="c-menu__link">
                        <div class="c-menu__text">List</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/stream.html" class="c-menu__link">
                        <div class="c-menu__text">Stream</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/circle-chart.html" class="c-menu__link">
                        <div class="c-menu__text">Circle Chart</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/drops.html" class="c-menu__link">
                        <div class="c-menu__text">Drops</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/modals.html" class="c-menu__link">
                        <div class="c-menu__text">Modals</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/alertify.html" class="c-menu__link">
                        <div class="c-menu__text">Alertify</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../components/notify.html" class="c-menu__link">
                        <div class="c-menu__text">Notify</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="c-menu__item has-sub">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-table2"></i>
                </div>
                <div class="c-menu__text">Tables</div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../tables/table.html" class="c-menu__link">
                        <div class="c-menu__text">Basic Table</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../tables/table-data.html" class="c-menu__link">
                        <div class="c-menu__text">Data Table</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="c-menu__item">
            <a href="../charts/index.html" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-pie-chart2"></i>
                </div>
                <div class="c-menu__text">Chart</div>
            </a>
        </li>
        <li class="c-menu__item has-sub">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-truck"></i>
                </div>
                <div class="c-menu__text">Widgets</div>
                <div class="c-menu__after">
                    <span class="badge badge--info">35+</span>
                </div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../widgets/statistics.html" class="c-menu__link">
                        <div class="c-menu__text">Statistic Widgets</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../widgets/data.html" class="c-menu__link">
                        <div class="c-menu__text">Data Widgets</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../widgets/charts.html" class="c-menu__link">
                        <div class="c-menu__text">Chart Widgets</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="c-menu__item">
            <a href="../utilities/index.html" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-wrench"></i>
                </div>
                <div class="c-menu__text">Utilities</div>
            </a>
        </li>
        <li class="c-menu__divider"></li>
        <li class="c-menu__item has-sub">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-office"></i>
                </div>
                <div class="c-menu__text">Apps</div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a href="../apps/cms/index.html" class="c-menu__link">
                        <div class="c-menu__text">CMS</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../apps/ecommerce/index.html" class="c-menu__link">
                        <div class="c-menu__text">eCommerce</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../apps/mailbox/index.html" class="c-menu__link">
                        <div class="c-menu__text">Mailbox</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../apps/documents/index.html" class="c-menu__link">
                        <div class="c-menu__text">Documents</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../apps/users/index.html" class="c-menu__link">
                        <div class="c-menu__text">Users</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../apps/library/index.html" class="c-menu__link">
                        <div class="c-menu__text">Library</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a href="../apps/settings/index.html" class="c-menu__link">
                        <div class="c-menu__text">Setting</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="c-menu__divider"></li>
        <li class="c-menu__category">v1.0.0</li>
    </ul>
</sidebar>

    <div class="l-app__content">
        <header class="l-app__topbar">
    <nav class="c-navbar c-navbar--light">
        <div class="c-navbar__left">
            <a role="button" class="c-navbar__item u-hiddenUp@md" v-toggle:sidebar>
                <i class="i-menu i-menu--light"></i>
            </a>
            <drop class="c-navbar__item">
                <a role="button" slot="trigger">
                    New<i class="i-caret i-caret--light u-ml-5"></i>
                </a>
                <drop-content slot="content">
                    <ul class="c-nav c-nav--menus">
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Article</a>
                        </li>
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Mail</a>
                        </li>
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Event</a>
                        </li>
                        <drop tag="li" class="c-nav__item">
                            <a href="#" class="c-nav__link" slot="trigger">Task</a>
                            <drop-content placement="right-start" slot="content">
                                <ul class="c-nav c-nav--menus">
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">Today</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">Latter</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">Inbox</a>
                                    </li>
                                </ul>
                            </drop-content/>
                        </drop>
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Contact</a>
                        </li>
                    </ul>
                </drop-content>
            </drop>
        </div>
        <!-- END .c-navbar__left -->
        <div class="c-navbar__right">
            <div class="c-navbar__item u-hiddenDown@md">
                <form action="/" class="c-navbar__form">
                    <div class="form-control has-iconRight">
                          <i class="icon-search form-iconRight u-mr-5"></i>
                          <input type="text" class="form-input form-input--rounded">
                    </div>
                </form>
            </div>
            <!-- END .c-navbar__item -->
            <a class="c-navbar__item">
                <i class="icon-bell2"></i>
            </a>
            <!-- END .c-nav__item -->
            <a class="c-navbar__item">
                <i class="icon-envelop3"></i>
            </a>
            <!-- END .c-nav__item -->
            <drop class="c-navbar__item">
                <a role="button" class="c-account" slot="trigger">
                    <div class="c-account__media">
                        <img src="../assets/images/avatar.jpg" class="avatar">
                    </div>
                    <div class="c-account__after">
                        <i class="i-caret i-caret--light"></i>
                    </div>
                </a>
                <drop-content placement="bottom-end" slot="content">
                    <ul class="c-nav c-nav--menus">
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Profile</a>
                        </li>
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Inbox</a>
                        </li>
                        <li class="c-nav__divider"></li>
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Log out</a>
                        </li>
                    </ul>
                </drop-content>
            </drop>
        </div>
    </nav>
    <!-- END .c-navbar -->
</header>
<!-- END .l-app__topbar -->

        
<div class="l-app__body">
    <main id="main" class="l-app__main" role="main">
        <div class="c-panel">
            <header class="c-panel__header">
                <h1 class="c-panel__title">Toolbar</h1>
            </header>
            <div class="c-panel__body">
                <p>
                    Use <strong>Toolbar</strong> component to create page header navigation.
                </p>
                <p>Structure:</p>
                <ul>
                    <li>
                        <code>.c-toolbar</code>
                        <ul>
                            <li>
                                <code>.c-toolbar__group</code>
                                <ul>
                                    <li><code>.c-toolbar__title</code></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>
                    The <strong>Toolbar</strong> only has three type elements,
                    by combining it with <strong>Cell</strong>,
                    <strong>Level</strong> and other components, you can create
                    various page navigation.
                </p>
            </div>
        </div>
        <hr>
        <header class="c-toolbar">
            <div class="l-level">
                <div class="l-level__left">
                    <div class="c-cell">
                        <div class="c-cell__media">
                            <i class="icon-footprint"></i>
                        </div>
                        <div class="c-cell__content">
                            <h1 class="c-toolbar__title">Dashboard</h1>
                            <ol class="c-breadcrumb">
                                <li class="c-breadcrumb__item">
                                    <a href="#" class="c-breadcrumb__link">Home</a>
                                </li>
                                <li class="c-breadcrumb__item">
                                    <a href="#" class="c-breadcrumb__link">Library</a>
                                </li>
                                <li class="c-breadcrumb__item">
                                    Book
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!-- END .c-cell -->
                </div>
                <!-- END .l-level__left -->
                <div class="l-level__right">
                    <div class="l-level__item">
                        <form action="#" class="form-inline">
                            <div class="form-group">
                                <div class="form-control has-iconRight">
                                    <i class="icon-search form-iconRight u-mr-5"></i>
                                    <input type="text" class="form-input">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END .l-level__item -->
                    <div class="l-level__item">
                        <a href="#" class="btn btn--info btn--smart">
                            <i class="icon-plus-circle u-mr-5"></i>New Position
                        </a>
                    </div>
                </div>
                <!-- END .l-level__right -->
            </div>
        </header>
        <!-- END .c-toolbar -->
        <header class="c-toolbar">
            <div class="l-level">
                <div class="l-level__left">
                    <h1 class="c-toolbar__title">Campaigns <span>36 Results</span></h1>
                </div>
                <!-- END .l-level__left -->
                <div class="l-level__right">
                    <div class="l-level__item">
                        <form action="#" class="form-inline">
                            <div class="form-group">
                                <div class="form-control has-iconRight">
                                    <i class="icon-search form-iconRight u-mr-5"></i>
                                    <input type="text" class="form-input">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END .l-level__item -->
                    <div class="l-level__item">
                        <a href="#" class="btn btn--success btn--smart">
                            <i class="icon-plus-circle u-mr-5"></i>New Promotions
                        </a>
                    </div>
                </div>
                <!-- END .l-level__right -->
            </div>
        </header>
        <!-- END .c-toolbar -->
        <header class="c-toolbar">
            <div class="l-level">
                <div class="l-level__left">
                    <div class="l-level__item">
                        <button class="btn btn--default">
                            <i class="icon-plus-circle btn__icon"></i>
                        </button>
                    </div>
                    <div class="l-level__item">
                        <div class="btnGroup">
                            <button class="btn btn--default">
                                <i class="icon-make-group btn__icon"></i>
                            </button>
                            <button class="btn btn--default">
                                <i class="icon-ungroup btn__icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="l-level__item">
                        <div class="btnGroup">
                            <button class="btn btn--default">
                                <i class="icon-zoom-out btn__icon"></i>
                            </button>
                            <button class="btn btn--default">
                                <i class="icon-zoom-in btn__icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="l-level__item">
                        <div class="btnGroup">
                            <button class="btn btn--default">
                                <i class="icon-paragraph-left btn__icon"></i>
                            </button>
                            <button class="btn btn--default">
                                <i class="icon-paragraph-center btn__icon"></i>
                            </button>
                            <button class="btn btn--default">
                                <i class="icon-paragraph-right btn__icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="l-level__item">
                        <div class="btnGroup">
                            <button class="btn btn--default">
                                <i class="icon-vector btn__icon"></i>
                            </button>
                            <button class="btn btn--default">
                                <i class="icon-vector2 btn__icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="l-level__item">
                        <div class="btnGroup">
                            <button class="btn btn--default">
                                <i class="icon-crop btn__icon"></i>
                            </button>
                            <button class="btn btn--default">
                                <i class="icon-scissors btn__icon"></i>
                            </button>
                        </div>
                    </div>
                    <div class="l-level__item">
                        <button class="btn btn--default">
                            <i class="icon-bin btn__icon"></i>
                        </button>
                    </div>
                </div>
                <!-- END .l-level__left -->
                <div class="l-level__right">
                    <div class="l-level__item">
                        <form action="#" class="form-inline">
                            <div class="form-group">
                                <div class="form-control has-iconRight">
                                    <i class="icon-search form-iconRight u-mr-5"></i>
                                    <input type="text" class="form-input">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END .l-level__item -->
                    <drop class="l-level__item">
                        <a role="button" class="c-account" slot="trigger">
                            <div class="c-account__media">
                                <img src="../assets/images/avatar.jpg" class="avatar avatar--sm">
                            </div>
                            <div class="c-account__after">
                                <i class="i-caret"></i>
                            </div>
                        </a>
                        <drop-content placement="bottom-end" slot="content">
                            <ul class="c-nav c-nav--menus">
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Profile</a>
                                </li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Inbox</a>
                                </li>
                                <li class="c-nav__divider"></li>
                                <li class="c-nav__item">
                                    <a href="#" class="c-nav__link">Log out</a>
                                </li>
                            </ul>
                        </drop-content>
                    </drop>
                </div>
                <!-- END .l-level__right -->
            </div>
        </header>
        <!-- END .c-toolbar -->
        <header class="c-toolbar">
            <div class="c-toolbar__group">
                <div class="l-level">
                    <div class="l-level__left">
                        <h1 class="c-toolbar__title">Performance</h1>
                    </div>
                    <!-- END .l-level__left -->
                    <div class="l-level__right">
                        <a href="#" class="btn btn--success btn--smart">
                            <i class="icon-download4 u-mr-5"></i>Download Report
                        </a>
                    </div>
                    <!-- END .l-level__right -->
                </div>
            </div>
            <!-- END .c-toolbar__group -->
            <div class="c-toolbar__group">
                <div class="l-level">
                    <div class="l-level__left">
                        <ul class="c-nav c-nav--pills">
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link is-active">Analytics</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Previous Exports</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Targeting</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Customers</a>
                            </li>
                            <li class="c-nav__item">
                                <a href="#" class="c-nav__link">Team</a>
                            </li>
                        </ul>
                    </div>
                    <!-- END .l-level__left -->
                    <div class="l-level__right">
                        <form action="#" class="form-inline">
                            <div class="form-group">
                                <div class="form-flex">
                                    <div class="form-control has-icon">
                                        <i class="icon-calendar form-icon"></i>
                                        <select class="form-input u-pl-35">
                                            <option value="2016-01-25" selected>Jul 25, 16</option>
                                        </select>
                                    </div>
                                    <span class="form-addon">-</span>
                                    <div class="form-control has-icon">
                                        <i class="icon-calendar form-icon"></i>
                                        <select class="form-input u-pl-35">
                                            <option value="2016-08-22" selected>Aug 22, 16</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END .l-level__right -->
                </div>
            </div>
            <!-- END .c-toolbar__group -->
        </header>
        <!-- END .c-toolbar -->
        <header class="c-toolbar">
            <div class="l-level">
                <div class="l-level__center">
                    <div class="btnGroup">
                        <button class="btn btn--primary btn--outline btn--smart">
                            <span class="btn__icon"><i class="icon-home"></i></span>
                            <span class="btn__text">ALL PROJECTS</span>
                        </button>
                        <button class="btn btn--primary btn--outline btn--smart is-active">
                            <span class="btn__icon"><i class="icon-cloud"></i></span>
                            <span class="btn__text">SHARED</span>
                        </button>
                        <button class="btn btn--primary btn--outline btn--smart">
                            <span class="btn__icon"><i class="icon-images3"></i></span>
                            <span class="btn__text">MEDIA FILES</span>
                        </button>
                    </div>
                </div>
                <!-- END .l-level__center -->
                <div class="l-level__left">
                    <h1 class="c-toolbar__title">All Projects <small>34 Projects</small></h1>
                </div>
                <!-- END .l-level__left -->
                <div class="l-level__right">
                    <div class="l-level__item">
                        <form action="#" class="form-inline">
                            <div class="form-group">
                                <div class="form-control has-iconRight">
                                    <i class="icon-search form-iconRight u-mr-5"></i>
                                    <input type="text" class="form-input">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END .l-level__item -->
                    <div class="l-level__item">
                        <a href="#" class="btn btn--success">
                            <i class="icon-plus-circle"></i>
                        </a>
                    </div>
                </div>
                <!-- END .l-level__right -->
            </div>
        </header>
        <!-- END .c-toolbar -->
        <header class="c-toolbar c-toolbar--ghost">
            <div class="l-level">
                <div class="l-level__left">
                    <div class="c-cell">
                        <div class="c-cell__media">
                            <i class="icon-stats-bars3"></i>
                        </div>
                        <div class="c-cell__content">
                            <h1 class="c-toolbar__title">Dashboard</h1>
                            <ol class="c-breadcrumb">
                                <li class="c-breadcrumb__item">
                                    <a href="#" class="c-breadcrumb__link">Home</a>
                                </li>
                                <li class="c-breadcrumb__item">
                                    <a href="#" class="c-breadcrumb__link">Library</a>
                                </li>
                                <li class="c-breadcrumb__item">
                                    Book
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!-- END .c-cell -->
                </div>
                <!-- END .l-level__left -->
                <div class="l-level__right">
                    <div class="l-level__item">
                        <form action="#" class="form-inline">
                            <div class="form-group">
                                <div class="form-control has-iconRight">
                                    <i class="icon-search form-iconRight u-mr-5"></i>
                                    <input type="text" class="form-input">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END .l-level__item -->
                    <div class="l-level__item">
                        <a href="#" class="btn btn--info btn--smart">
                            <i class="icon-plus-circle u-mr-5"></i>New Post
                        </a>
                    </div>
                </div>
                <!-- END .l-level__right -->
            </div>
        </header>
        <!-- END .c-toolbar -->
    </main>
    <!-- END .l-app__main -->
</div>
<!-- END .l-app__body -->

    </div>
</div>
<!-- END #app -->


<script src="../assets/js/app.js"></script>

</body>
</html>
