<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Cover">
<meta name="format-detection" content="telephone=no">
<title>Cover - Dashboard UI kit for Modern Web Application</title>
<meta name="description" content="Dashboard UI Kit for Modern Web Application">
<meta name="keywords" content="admin, dashboard, backend, template, responsive, ui-kit, web-app, modern, flexbox, vuejs, sass">
<meta name="author" content="20Theme">
<link rel="stylesheet" href="../../dist/css/cover.css">
<link rel="stylesheet" href="../../dist/css/icomoon.css">
<link href="../assets/css/github-gist.css">
<link rel="apple-touch-icon" href="../assets/images/app-icon.png">
<link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon" />
<script src="../../dist/vendor/vue/vue.js"></script>
<script src="../../dist/vendor/holderjs/holder.min.js"></script>
<script src="../../dist/cover.js"></script>

  
</head>
<body>
<div id="app" class="l-app" v-cloak>
    <sidebar :fold="true" :toggleable="false">
    <div class="logo" slot="start">
        <img src="../../dist/images/logo-white.svg">
    </div>
    <ul class="c-menu c-menu--dark" v-menu slot="content">
        <li class="c-menu__item">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-grid6"></i>
                </div>
                <div class="c-menu__text">Home</div>
            </a>
        </li>
        <li class="c-menu__item has-sub">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-mailbox"></i>
                </div>
                <div class="c-menu__text">Message</div>
            </a>
            <ul class="c-menu">
                <li class="c-menu__item">
                    <a role="button" class="c-menu__link">
                        <div class="c-menu__text">Inbox</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a role="button" class="c-menu__link">
                        <div class="c-menu__text">Add New</div>
                    </a>
                </li>
                <li class="c-menu__item">
                    <a role="button" class="c-menu__link">
                        <div class="c-menu__text">Trash</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="c-menu__item">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-task"></i>
                </div>
                <div class="c-menu__text">Tasks</div>
            </a>
        </li>
        <li class="c-menu__item">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-calendar22"></i>
                </div>
                <div class="c-menu__text">Calendar</div>
            </a>
        </li>
        <li class="c-menu__item">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-users"></i>
                </div>
                <div class="c-menu__text">Users</div>
            </a>
        </li>

        <li class="c-menu__divider"></li>
        <li class="c-menu__item">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-user"></i>
                </div>
                <div class="c-menu__text">Profile</div>
            </a>
        </li>
        <li class="c-menu__item">
            <a role="button" class="c-menu__link">
                <div class="c-menu__icon">
                    <i class="icon-lab"></i>
                </div>
                <div class="c-menu__text">API</div>
            </a>
        </li>
    </ul>
</sidebar>
<!-- END .l-sidebar -->

    <div class="l-app__content">
        <header class="l-app__topbar">
    <nav class="c-navbar c-navbar--light">
        <div class="c-navbar__left">
            <a role="button" class="c-navbar__item u-hiddenUp@md" v-toggle:sidebar>
                <i class="i-menu i-menu--light"></i>
            </a>
            <drop class="c-navbar__item">
                <a role="button" slot="trigger">
                    New<i class="i-caret i-caret--light u-ml-5"></i>
                </a>
                <drop-content slot="content">
                    <ul class="c-nav c-nav--menus">
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Article</a>
                        </li>
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Mail</a>
                        </li>
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Event</a>
                        </li>
                        <drop tag="li" class="c-nav__item">
                            <a href="#" class="c-nav__link" slot="trigger">Task</a>
                            <drop-content placement="right-start" slot="content">
                                <ul class="c-nav c-nav--menus">
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">Today</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">Latter</a>
                                    </li>
                                    <li class="c-nav__item">
                                        <a href="#" class="c-nav__link">Inbox</a>
                                    </li>
                                </ul>
                            </drop-content/>
                        </drop>
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Contact</a>
                        </li>
                    </ul>
                </drop-content>
            </drop>
        </div>
        <!-- END .c-navbar__left -->
        <div class="c-navbar__right">
            <div class="c-navbar__item u-hiddenDown@md">
                <form action="/" class="c-navbar__form">
                    <div class="form-control has-iconRight">
                          <i class="icon-search form-iconRight u-mr-5"></i>
                          <input type="text" class="form-input form-input--rounded">
                    </div>
                </form>
            </div>
            <!-- END .c-navbar__item -->
            <a class="c-navbar__item">
                <i class="icon-bell2"></i>
            </a>
            <!-- END .c-nav__item -->
            <a class="c-navbar__item">
                <i class="icon-envelop3"></i>
            </a>
            <!-- END .c-nav__item -->
            <drop class="c-navbar__item">
                <a role="button" class="c-account" slot="trigger">
                    <div class="c-account__media">
                        <img src="../assets/images/avatar.jpg" class="avatar">
                    </div>
                    <div class="c-account__after">
                        <i class="i-caret i-caret--light"></i>
                    </div>
                </a>
                <drop-content placement="bottom-end" slot="content">
                    <ul class="c-nav c-nav--menus">
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Profile</a>
                        </li>
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Inbox</a>
                        </li>
                        <li class="c-nav__divider"></li>
                        <li class="c-nav__item">
                            <a href="#" class="c-nav__link">Log out</a>
                        </li>
                    </ul>
                </drop-content>
            </drop>
        </div>
    </nav>
    <!-- END .c-navbar -->
</header>
<!-- END .l-app__topbar -->

        <div class="l-app__body">
            <main id="main" class="l-app__main" role="main">

            </main>
        </div>
    </div>
</div>
<!-- END #app -->


<script src="../assets/js/app.js"></script>

</body>
</html>
